<!-- DEMO-SEQ  / fichier: views/user/view.ejs -->
<!-- (PAGE VISU USER) ------------------------ -->
<!-- Résume: -->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= r_user.nom  %> <%= r_user.prenom  %></h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>
<!-- BLOC haut -->
<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- lien retour Acceuil  + nom prénom -->
          <li class="breadcrumb-item"><a href="<%= urlIndex %>">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= r_user.nom %> <%= r_user.prenom %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Dernière mise à jour:  <b class="fw-bold"><%= derniereMAJour %></b>  </b>
      <b>ID user:</b> <b class="fw-bold"><%= r_user.id %></b>
    </div>
  </div>
</div>

<!-- PRESENTATION AFFICHAGE du USER ---------------------------------------------- -->
<ul class="list-group">
  <!-- li: nom + prenom -->
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Nom:</b></div>
      <div class="col"><%= r_user.nom %> <%= r_user.prenom %></div>
    </div>
  </li>
    <!-- li: pseudo -->
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Pseudo::</b></div>
        <div class="col"><%= r_user.pseudo %></div>
      </div>
    </li>
  <!-- li: telephone -->
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Téléphone::</b></div>
      <div class="col"><%= r_user.telephone %></div>
    </div>
  </li>
  <!-- li: email -->
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Email:</b></div>
      <div class="col"><%= r_user.email %></div>
    </div>
  </li>
    <!-- li: passe -->
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Passe:</b></div>
        <div class="col"><%= r_user.passe %></div>
      </div>
    </li>
  <!-- li: detail -->
  <li class="list-group-item"> 
    <div class="row">

      <label for="detail">Détail</label>
      <textarea class="form-control" cols="30" rows="4" maxlength="200"
                id="detail" name="detail" placeholder="USer détail..."><%= r_user.detail %></textarea>

    </div>
  </li>
  <!-- li: Date de Création -->
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date de Créarion:</b></div>
      <div class="col"><%= r_user.DATE_CREATION %></div>
    </div>
  </li>
  <!-- li: Date de Modification -->
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date de Modification:</b></div>
      <div class="col"><%= r_user.DATE_MODIFICA %></div>
    </div>
  </li>

</ul>